@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #a0aec0;
  pointer-events: none;
  height: 0;
}

/*custom scroll css*/
.custom-scroll-bar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: rgb(202, 181, 226);
}